VITE_FIREBASE_API_KEY=AIzaSyCmXcbkopkWODLhtThPyTkpWUlLn9tykJI
VITE_FIREBASE_AUTH_DOMAIN=fitai-31d32.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fitai-31d32
VITE_FIREBASE_STORAGE_BUCKET=fitai-31d32.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=289500832998
VITE_FIREBASE_APP_ID=1:289500832998:web:e98dbbce76a740a8e94727
VITE_FIREBASE_MEASUREMENT_ID=G-ZNKPK490EK
